*{margin: 0;padding: 0;}
nav {
    width: 100vw;
    height: 10vh;
    background-color: black;
    /* margin-bottom: 0; */
    position: fixed;
    top: 0;
}

.contenedor {
    /* position: absolute; */
    margin-top: 10vh;
}
.img img {
    /* margin-top: 5vh; */
    height: 10vh;
    margin-left: 1vw;
}
.nombre h1
{
    color: rgb(243, 25, 25);
    font-size: 10vw;
    position: absolute;
    top: 2.5vh;
    left: 30vw;
}

label img{
    width: 8vw;
    /* width: 25px;
    height: 25px; */
    position: absolute;
    top: 4vh;
    right: 1vw;
}
.menu {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: none;
    top: 9vh;
    
}
.menu ul {
    position: absolute;
    left: 30vw;
    top: 20vh;
}
.menu li {
    list-style: none;
    margin-bottom: 10vw;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 10vw;
}
.checkbox_clase:checked ~ .menu {
    display: inline;
}
.checkbox_clase {
    display: none;
}
main img {
    margin-left: 10vh;
}
